.container {
    display: block;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group {
    margin: 1rem auto;
}

.input-group > label, .input-group > .input, .input-group > .help-text {
    display: block;
}

.input-group.required > label:after {
    content: "*";
    color: hsl(0, 100%, 70%);
}

.input-group.optional > label:after {
    content: "(optional)";
    color: hsl(220, 25%, 70%);
    margin-left: 0.5rem;
}

.input-group > .help-text {
    color: hsl(220, 25%, 70%);
}

form > button[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    background-color: hsl(220, 100%, 70%);
    border: 1px solid hsl(220, 100%, 70%);
    font-size: large;
}